@using ConsulService.Models
@model IEnumerable<Category>
@{
    ViewData["Title"] = "Categories";
}

<h2>Categories</h2>
<div class="button"><a class="btn btn-primary" asp-area="" asp-controller="Home" asp-action="Category/0">New Category</a></div>
<table class="table">
    <thead><tr><td>Id</td><td>Name</td><td>Action</td></tr></thead>
    @foreach (Category category in Model)
    {
        <tr>
            <td> <a asp-area="" asp-controller="Home" asp-action="Category/@category.Id">@category.Id</a> </td>
            <td> @category.Name </td>
            <td><a class="btn btn-primary" asp-area="" asp-controller="Home" asp-route-what="categories/@category.Id" asp-action="Delete">Delete</a></td>
        </tr>
    }
</table>