@using ConsulService.Models
@using System.Security.Claims;
@model IEnumerable<Currency>
@{
    ViewData["Title"] = "Currencies";
}

<h2>Currencies</h2>
@if (Context.User.Claims.FirstOrDefault(x => x.Type == ClaimsIdentity.DefaultRoleClaimType&&x.Value=="Admin") != null)
{<div class="button"><a class="btn btn-primary" asp-area="" asp-controller="Home" asp-action="Currency" asp-route-id="0">New Currency</a></div>}
<table class="table">
    <thead><tr><td>Id</td><td>Name</td><td>Action</td></tr></thead>
    @foreach (Currency currency in Model)
    {
        <tr>
            <td><a asp-area="" asp-controller="Home" asp-route-id="@currency.Id" asp-action="Currency"> @currency.Id </a></td>
            <td> @currency.Name </td>
            <td><a class="btn btn-primary" asp-area="" asp-controller="Home" asp-action="Delete/currencies|@currency.Id">Delete</a></td>
        </tr>
    }
</table>