@using ConsulService.Models
@model IEnumerable<Transaction>
@{
    ViewData["Title"] = "Transactions";
}

<h2>Transactions</h2>
<a class="btn btn-primary" asp-area="" asp-controller="Home" asp-action="Transaction/0">New Transaction</a>
<table class="table">
    <thead><tr><td>Id</td><td>Category</td><td>Value</td><td>Action</td></tr></thead>
    @foreach (Transaction transaction in Model)
    {
    <tr>
        <td><a asp-area="" asp-controller="Home" asp-action="Transaction/@transaction.Id"> @transaction.Id </a></td>
        <td> @transaction.Category.Name </td>
        <td> @transaction.Value </td>
        <td><a class="btn btn-primary" asp-area="" asp-controller="Home" asp-action="Delete/transactions/@transaction.Id">Delete</a></td>
    </tr>
    }
</table>